.comment
    .ant-timeline-item-content
        top: -6px
    .ant-tag
        margin: 3px 8px 0 0
        border-radius: 10px
        cursor: default

.addcomment
    .ant-timeline-item-head
        background: #f5f5f5
    .ant-tag-checkable
        margin: 0 5px 0 7px
        
.grommetux-check-box
    margin-left: 12px !important
    .grommetux-check-box__control
        border-radius: 5px !important
        border-color: #108ee9 !important
        .grommetux-check-box__control-check
            stroke: #108ee9 !important
        .grommetux-check-box__label
            font-weight: bold !important

.submitBtn
    background: #E6734B !important
    border-color #E6734B !important
    color: white !important
    margin-top: 20px !important
    border-radius: 5px !important
    padding 10px 22px !important
    &:focus
        padding 10px 22px !important
