.btnContainer
    margin-top: 30px
    width: 100%
    max-width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    & div
        width: calc(50% - 10px)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 10px 20px
        border: 1px solid black
        border-radius: 2px
        cursor: pointer
        &:nth-child(1)
            color: #fc636b
            border-color: #fc636b
        &:nth-child(2)
            color: #0AF
            border-color: #0AF
.grommetux-form-field--focus
    .grommetux-form-field__contents
        border: none !important
        box-shadow: none !important
        input
            border: none !important
            box-shadow: none !important

.userInfoContainer
    margin-top: 50px
    display: flex
    flex-direction: column
    align-items: center
    .userInfo
        display: flex
        flex-direction: column
        align-items: center
        .imgContainer
            max-width: 50px
            max-height: 50px
            border-radius: 50%
            overflow: hidden
            img
                width: 100%
                height: 100%
    .changeName
        cursor: pointer
        margin: 10px 0
        padding: 5px 20px
        border-radius: 2px
        border: 1px solid black

.postContainer
    margin-top: 30px
    width: 90%
    max-width: 1024px
    border: 1px solid black
