$brand_blue_light = lighten(#58A0FC, 5%)
$brand_blue = darken(#58A0FC, 5%)

.submitNewPost--contain
    display: flex
    justify-content: center
    margin-top: 20px
    .submitNewPost
        display: flex
        justify-content: center
        width: 250px
        z-index: 99
        padding: 0px
        cursor: pointer
        color: #FFF
    .submitNewPost:hover
        text-decoration: none !important
    button
        color: #EEE !important
        width: 250px
        margin: 0 !important
        padding: 10px !important
        border-radius: 5px !important
        border-color: $brand_blue !important
        background: $brand_blue !important
    button:hover
        border-color: #00BFFF !important
        background: #00BFFF !important
        text-decoration: none !important

.searchBtn
    min-width: 80px
    // background: $brand_blue_light !important
    background: transparent
    border: 2px solid $brand_blue_light
    color: $brand_blue_light
    border-radius: 5px
    margin-left: 5px
    padding: 5px 15px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    font-size: 1.2em

.searchBtn-select
    color: white
    background: $brand_blue_light
    border: 2px solid $brand_blue_light

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: black !important;
}

.catagoryList
    margin: 0
    /*padding: 10px 15px*/
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    /*height: 35vh*/
    min-height: 100px
    overflow-y: scroll
    align-items: center
    li
        margin: 5px 5px
        padding: 3px 20px
        width: auto
        cursor: pointer
        font-size: 1.25em
        text-align: center
        border-radius: 20px
        font-weight: bold
        border: 1px solid $brand_blue_light
        &.active
            color: white
            background: $brand_blue_light

.resultCounter
    margin: 20px 0
    font-size: 1.5em
.ant-modal-content
    input
        width: 100%
        border: 1px solid #50514F
        border-radius: 5px
        padding: 3px 5px
        font-size: 1.5em
        outline none
        &focus
            outline: none
