.internBoxWrapper
    width: 100%
    padding: 20px
    margin: 5px 0
    .actionButton
        margin-top: 10px
        padding: 10px 0 0 0
        display: flex
        margin-left: 25px
        > *
            margin: 0 3px
        span
            margin-right: 10px
    span
        font-size: 1.15em

    .InternBox
        @media screen and (max-width: 768px)
            width: 100% !important

    .grommetux-app--hidden
        position: fixed
        overflow: hidden !important
    .innerBoxWrapperContent
        width: 100%
        height: 100%
        padding-bottom: 1px
        border-radius: 5px
        transition: all 0.25s ease
        box-shadow: 0px 1px 5px #bbb
        &:hover
            transition: all 0.25s ease
            box-shadow: 0px 1px 10px #999
        .internBoxLink
            font-size: 1.2em
            color: #58A0FC !important
            text-decoration: none !important
        a
            > div
                width: auto
    a
        color: #50514F !important
        text-decoration: none !important
        &hover
            text-decoration: none !important
    @media screen and (min-width: 768px)
        width: 50%
