.internBoxWrapper
    width: 100%
    padding: 10px
    margin: 5px 0
    .actionButton
        display: flex
        margin-left: 10px
        > *
            margin: 0 3px
        span
            margin-right: 10px

    .InternBox
        @media screen and (max-width: 768px)
            width: 100% !important

    .grommetux-app--hidden
        position: fixed
        overflow: hidden !important
    .innerBoxWrapperContent
        width: 100%
        padding-bottom: 1px
        border-radius: 5px
        box-shadow: 0px 1px 7px #50514F
        .internBoxLink
            color: #58A0FC !important
            text-decoration: none !important
    a
        color: #50514F !important
        text-decoration: none !important
        &hover
            text-decoration: none !important
    @media screen and (min-width: 768px)
        width: 50%
