footer
    a
        display: flex !important
        justify-content: center !important
        align-items: center !important
        height: 36px !important
        width: 36px !important
        span
            height: 24px !important
            padding: 0 !important
            margin: 0 !important
.footerText
    display: flex
    align-items: center
    a
        margin: 0 10px !important
        width: auto !important
        color: #333 !important
        font-size: 0.85rem
