footer
    a
        display: flex !important
        justify-content: center !important
        align-items: center !important
        height: 36px !important
        width: 36px !important
        span
            height: 24px !important
            padding: 0 !important
            margin: 0 !important
