.loginContain
    display: flex
    justify-content: center
    align-items: center
    .FBSection,
    .GoogleSection
        cursor: pointer
        display: flex
        flex-direction: column
        align-items: center
        padding: 30px
        border: 3px solid #3b5998
        border-radius: 5px
        width: 150px
        margin: 0 15px
        color: #3b5998
        transition: all 0.25s ease
        .grommetux-control-icon-social-facebook
            fill: #3b5998
        .grommetux-control-icon-social-google-plus
            fill: #dd4b39
        &:hover
            background: #3b5998
            color: white
            transition: all 0.35s ease
            .grommetux-control-icon-social-facebook,
            .grommetux-control-icon-social-google-plus
                fill: white
    .GoogleSection
        border-color: #dd4b39
        color: #dd4b39
        &:hover
            background: #dd4b39
            transition: all 0.35s ease

.navbar
    a
        span
            font-size: 16px
    div
        button
            font-size: 16px

.title,
.navbar
    @media screen and (max-width: 768px)
        display: none !important

.menu
    width: 100% !important
    // z-index: 999 !important
    button
        span.grommetux-button__label
            font-weight: bold
            font-size: 24px
    @media screen and (min-width: 768px)
        display: none !important
.grommet
    &.grommetux-drop
        z-index: 999 !important
        button
            span
                font-weight: bold
                font-size: 24px

.ant-message-notice-content
    padding: 20px 30px !important
    font-size: 1.25em !important
    // background: black

.navbarLink
    button
        cursor: pointer !important
