.feedbackSection
    padding: 0 20px
    height: 100%
    flex: 1
    section
        div
            height: 70vh
    h1
        text-align: center
        font-size: 1.5rem !important
    p
        width: 100% !important
        max-width: 100% !important
