<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
    </head>

    <body>
        <div id="app">Rendering</div>
    </body>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js').catch(function(ex) {
          console.warn(ex);
          console.warn('(This warning can be safely ignored outside of the production build.)');
        });
      }
    </script>
</html>
