<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place this data between the <head> tags of your website -->
        <title>實習透視鏡 InternLens</title>
        <meta name="description" content="實習透視鏡是全台灣最透明的實習經驗分享平台。" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="實習透視鏡 InternLens">
        <meta itemprop="description" content="實習透視鏡是全台灣最透明的實習經驗分享平台。">
        <meta itemprop="image" content="http://i.imgur.com/qAtqqga.png">

        <!-- Twitter Card data -->
        <meta name="twitter:site" content="實習透視鏡 InternLens">
        <meta name="twitter:title" content="實習透視鏡 InternLens">
        <meta name="twitter:description" content="實習透視鏡是全台灣最透明的實習經驗分享平台。">
        <meta name="twitter:image:src" content="http://i.imgur.com/qAtqqga.png">

        <!-- Open Graph data -->
        <meta property="og:title" content="實習透視鏡 InternLens" />
        <meta property="og:type" content="website" />
        <meta property="fb:admins" content="100000377206811"/>
        <meta property="fb:app_id" content="1863781017243083">
        <meta property="og:url" content="https://internlens.com/" />
        <meta property="og:image" content="http://i.imgur.com/qAtqqga.png" />
        <meta property="og:description" content="實習透視鏡是全台灣最透明的實習經驗分享平台。" />
        <meta property="og:site_name" content="實習透視鏡 InternLens" />
        <link rel="apple-touch-icon" href="./img/favicon-128x128.png">
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <script src="https://use.typekit.net/kxi8dqi.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>

    <body>
        <div id="app"></div>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74093364-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-74093364-10');
    </script>

    <!-- <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js').catch(function(ex) {
          console.warn(ex);
          console.warn('(This warning can be safely ignored outside of the production build.)');
        });
      }
    </script> -->
</html>
