<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place this data between the <head> tags of your website -->
        <title>實習透視鏡 InternLens</title>
        <meta name="description" content="實習透視鏡是全台灣最透明的實習經驗分享平台。" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="實習透視鏡 InternLens">
        <meta itemprop="description" content="實習透視鏡是全台灣最透明的實習經驗分享平台。">
        <meta itemprop="image" content="http://i.imgur.com/y9wWxGd.png">

        <!-- Twitter Card data -->
        <meta name="twitter:site" content="實習透視鏡 InternLens">
        <meta name="twitter:title" content="實習透視鏡 InternLens">
        <meta name="twitter:description" content="實習透視鏡是全台灣最透明的實習經驗分享平台。">
        <meta name="twitter:image:src" content="http://i.imgur.com/y9wWxGd.png">

        <!-- Open Graph data -->
        <meta property="og:title" content="實習透視鏡 InternLens" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://lichin.me/InternLens/dashboard" />
        <meta property="og:image" content="http://i.imgur.com/y9wWxGd.png" />
        <meta property="og:description" content="實習透視鏡是全台灣最透明的實習經驗分享平台。" />
        <meta property="og:site_name" content="實習透視鏡 InternLens" />
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <title>實習透視鏡</title>
    </head>

    <body>
        <div id="app"></div>
    </body>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js').catch(function(ex) {
          console.warn(ex);
          console.warn('(This warning can be safely ignored outside of the production build.)');
        });
      }
    </script>
</html>
