@import '~grommet/scss/hpinc/index';

.grommet, .brand-font {
    font-family: "source-han-sans-traditional", Arial, sans-serif;
}

.grommetux-heading--strong {
    font-family: "source-han-serif-tc",serif;
}

h1.grommetux-heading{
    font-weight: 800;
}

h2.grommetux-heading{
    font-weight: 600;
}


h3.grommetux-heading--strong {
    font-size: 26px;
    font-weight: 700;
}

h4.grommetux-heading{
    line-height: 1.7em;
}

h4.grommetux-heading--strong {
    font-size: 22px;
    font-weight: 700;
}
